In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/aluguel.csv", sep=";")
df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

# Count the amount of properties that hat between 1 and 2 Quartos, 3 and 4, 5 and 6, >= 7

In [3]:
ranges = [0, 2, 4, 6, 100]

In [5]:
quartos_ranges = pd.cut(df["Quartos"], bins=ranges)
quartos_ranges

0        (0.0, 2.0]
1        (0.0, 2.0]
2               NaN
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
32955           NaN
32956    (2.0, 4.0]
32957    (0.0, 2.0]
32958    (0.0, 2.0]
32959           NaN
Name: Quartos, Length: 32960, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [6]:
pd.value_counts(quartos_ranges)

(0, 2]      12419
(2, 4]       9894
(4, 6]        709
(6, 100]       87
Name: Quartos, dtype: int64

In [13]:
labels = ['1 e 2 Quartos', '3 e 4 Quartos', '5 e 6 Quartos', '>= 7 Quartos']
quartos_ranges = pd.cut(df["Quartos"], bins=ranges, labels=labels)
quartos_ranges

0        1 e 2 Quartos
1        1 e 2 Quartos
2                  NaN
3        1 e 2 Quartos
4        1 e 2 Quartos
             ...
32955              NaN
32956    3 e 4 Quartos
32957    1 e 2 Quartos
32958    1 e 2 Quartos
32959              NaN
Name: Quartos, Length: 32960, dtype: category
Categories (4, object): [1 e 2 Quartos < 3 e 4 Quartos < 5 e 6 Quartos < >= 7 Quartos]

In [14]:
pd.value_counts(quartos_ranges)

1 e 2 Quartos    12419
3 e 4 Quartos     9894
5 e 6 Quartos      709
>= 7 Quartos        87
Name: Quartos, dtype: int64